/* Box Model Hack */
* {
     box-sizing: border-box;
     color: beige;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

*{
     font-family: 'Comfortaa', cursive;
}
body{
     background: url("../assets/images/great-serpent-ring.jpg");
     background-position: center;
}


h1{
     text-align: center;
     width: 60%;
     padding-bottom: 0;
     margin: 0 auto;
}

h2{
     padding: 0 auto;
     margin: 1rem auto 0 auto;
     width: 50%;
     text-align: center;
     
}

p{
     width: 65%;
     text-align: center;
     font-weight: 300;
     margin: 1rem auto 0 auto;
}

/******************************************
/* LAYOUT
/*******************************************/


.divInput{
     margin: 1rem auto 0 auto;
     text-align: center;
}

 button{
     display: block;
     margin: 0 auto;
     color: black;
}
input{color: black;}

img{
     width: 300px;
     display: block;
     margin: 0 auto;
}

.border{
     border: 3px solid black;

}
.listDiv{
     margin: 0 auto;
     width: 50%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
